In [1]:
import pandas as pd
import numpy as np
import requests as req
from bs4 import BeautifulSoup as bs

# 영화 데이터프레임

In [2]:
url = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&date=20210511"
res = req.get(url)

In [3]:
res
soup = bs(res.text, "lxml")

In [4]:
movie_title = soup.select("div.tit5 > a")

In [5]:
avg = soup.select(".point")

In [6]:
avg

[<td class="point">9.38</td>,
 <td class="point">9.37</td>,
 <td class="point">9.36</td>,
 <td class="point">9.35</td>,
 <td class="point">9.33</td>,
 <td class="point">9.32</td>,
 <td class="point">9.30</td>,
 <td class="point">9.30</td>,
 <td class="point">9.29</td>,
 <td class="point">9.26</td>,
 <td class="point">9.24</td>,
 <td class="point">9.21</td>,
 <td class="point">9.20</td>,
 <td class="point">9.15</td>,
 <td class="point">9.06</td>,
 <td class="point">9.05</td>,
 <td class="point">9.02</td>,
 <td class="point">9.01</td>,
 <td class="point">8.93</td>,
 <td class="point">8.93</td>,
 <td class="point">8.93</td>,
 <td class="point">8.93</td>,
 <td class="point">8.93</td>,
 <td class="point">8.89</td>,
 <td class="point">8.89</td>,
 <td class="point">8.87</td>,
 <td class="point">8.87</td>,
 <td class="point">8.79</td>,
 <td class="point">8.78</td>,
 <td class="point">8.74</td>,
 <td class="point">8.69</td>,
 <td class="point">8.68</td>,
 <td class="point">8.65</td>,
 <td class="point">8.61</td>,
 <td class="point">8.56</td>,
 <td class="point">8.52</td>,
 <td class="point">8.52</td>,
 <td class="point">8.47</td>,
 <td class="point">8.42</td>,
 <td class="point">8.31</td>,
 <td class="point">8.29</td>,
 <td class="point">8.23</td>,
 <td class="point">8.20</td>,
 <td class="point">8.17</td>,
 <td class="point">8.15</td>,
 <td class="point">8.11</td>,
 <td class="point">8.00</td>,
 <td class="point">7.95</td>,
 <td class="point">7.91</td>,
 <td class="point">7.90</td>]

In [24]:
movie_title_list = []
avg_list = []
rank_list = []

for i in range(len(movie_title)):
    movie_title_list.append(movie_title[i].text)
    avg_list.append(avg[i].text)
    rank_list.append(i + 1)

In [8]:
dic = {"순위" : rank_list, "영화명" : movie_title_list, "평점" : avg_list}

In [9]:
dic

{'순위': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50],
 '영화명': ['반지의 제왕: 왕의 귀환',
  '레옹',
  '반지의 제왕: 두 개의 탑',
  '다시 태어나도 우리',
  '피아니스트',
  '자산어보',
  '소울',
  '극장판 귀멸의 칼날: 무한열차편',
  '반지의 제왕: 반지 원정대',
  '소년시절의 너',
  '바람과 함께 사라지다',
  '크루즈 패밀리: 뉴 에이지',
  '해피 투게더',
  '라야와 마지막 드래곤',
  '타오르는 여인의 초상',
  '바그다드 카페 : 디렉터스컷',
  '그 시절, 우리가 좋아했던 소녀',
  '룸',
  '그것만이 내 세상',
  '신세계',
  '명탐정 코난: 비색의 탄환',
  '러브 액츄얼리',
  '중경삼림',
  '장수상회',
  '1917',
  '더 박스',
  '이별의 아침에 약속의 꽃을 장식하자',
  '너의 이름은.',
  '화양연화',
  '해리 포터와 아즈카반의 죄수',
  '진짜로 일어날지도 몰라 기적',
  '마미',
  '플로리다 프로젝트',
  '라라랜드',
  '세자매',
  '더 스파이',
  '윈드 리버',
  '아비정전',
  '노매드랜드',
  '좋아해, 너를',
  '패터슨',
  '고질라 VS. 콩',
  '팅커 테일러 솔저 스파이',
  '언어의 정원',
  '야구소녀',
  '문라이즈 킹덤',
  '일대종사',
  '날씨의 아이',
  '별을 쫓는 아이',
  '더 랍스터'],
 '평점': ['9.38',
  '9.37',
  '9.36',
  '9.35',
  '9.33',
  '9.32',
  '9.30',
  '9.30',
  '9.29',
  '9.26',
  '9.24',
  '9.21',
  '9.20',
  '9.15',
  '9.06',
  '9.05',
  '9.02',
  '9.01',
  '8.93',
  '8.93',
  '8.93',
  '8.93',
  '8.93',
  '8.89',
  '8.89',
  '8.87',
  '8.87',
  '8.79',
  '8.78',
  '8.74',
  '8.69',
  '8.68',
  '8.65',
  '8.61',
  '8.56',
  '8.52',
  '8.52',
  '8.47',
  '8.42',
  '8.31',
  '8.29',
  '8.23',
  '8.20',
  '8.17',
  '8.15',
  '8.11',
  '8.00',
  '7.95',
  '7.91',
  '7.90']}

In [10]:
movie_avg = pd.DataFrame(dic)

In [26]:
movie_avg

    순위                  영화명    평점
0    1        반지의 제왕: 왕의 귀환  9.38
1    2                   레옹  9.37
2    3       반지의 제왕: 두 개의 탑  9.36
3    4           다시 태어나도 우리  9.35
4    5                피아니스트  9.33
5    6                 자산어보  9.32
6    7                   소울  9.30
7    8    극장판 귀멸의 칼날: 무한열차편  9.30
8    9       반지의 제왕: 반지 원정대  9.29
9   10              소년시절의 너  9.26
10  11          바람과 함께 사라지다  9.24
11  12       크루즈 패밀리: 뉴 에이지  9.21
12  13               해피 투게더  9.20
13  14          라야와 마지막 드래곤  9.15
14  15          타오르는 여인의 초상  9.06
15  16      바그다드 카페 : 디렉터스컷  9.05
16  17    그 시절, 우리가 좋아했던 소녀  9.02
17  18                    룸  9.01
18  19            그것만이 내 세상  8.93
19  20                  신세계  8.93
20  21       명탐정 코난: 비색의 탄환  8.93
21  22              러브 액츄얼리  8.93
22  23                 중경삼림  8.93
23  24                 장수상회  8.89
24  25                 1917  8.89
25  26                 더 박스  8.87
26  27  이별의 아침에 약속의 꽃을 장식하자  8.87
27  28              너의 이름은.  8.79
28  29                 화양연화  8.78
29  30      해리 포터와 아즈카반의 죄수  8.74
30  31      진짜로 일어날지도 몰라 기적  8.69
31  32                   마미  8.68
32  33            플로리다 프로젝트  8.65
33  34                 라라랜드  8.61
34  35                  세자매  8.56
35  36                더 스파이  8.52
36  37                윈드 리버  8.52
37  38                 아비정전  8.47
38  39                노매드랜드  8.42
39  40              좋아해, 너를  8.31
40  41                  패터슨  8.29
41  42            고질라 VS. 콩  8.23
42  43        팅커 테일러 솔저 스파이  8.20
43  44               언어의 정원  8.17
44  45                 야구소녀  8.15
45  46              문라이즈 킹덤  8.11
46  47                 일대종사  8.00
47  48               날씨의 아이  7.95
48  49             별을 쫓는 아이  7.91
49  50                더 랍스터  7.90

# 날짜별로 영화데이터 수집

### 날짜만들기

In [12]:
date = pd.date_range(start = "2021-01-01", end = "2021-05-01")
date

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-04-22', '2021-04-23', '2021-04-24', '2021-04-25',
               '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29',
               '2021-04-30', '2021-05-01'],
              dtype='datetime64[ns]', length=121, freq='D')

In [13]:
#문자형 포매팅
days = date.strftime("%Y%m%d")
days

Index(['20210101', '20210102', '20210103', '20210104', '20210105', '20210106',
       '20210107', '20210108', '20210109', '20210110',
       ...
       '20210422', '20210423', '20210424', '20210425', '20210426', '20210427',
       '20210428', '20210429', '20210430', '20210501'],
      dtype='object', length=121)

####  진행사항을 볼수있는 함수

In [14]:
from tqdm import tqdm_notebook

In [15]:
avg_list = []
movie_title_list = []
rank_list = []
date_list = []
for i in tqdm_notebook(days):
    url1 = "https://movie.naver.com/movie/sdb/rank/rmovie.nhn?sel=cur&tg=0&date=" + i
    res = req.get(url1)
    soup = bs(res.text, "lxml")
    movie_title = soup.select("div.tit5 > a") #영화명
    avg = soup.select(".point")   #평점
    
    for j in range(len(movie_title)):
        movie_title_list.append(movie_title[j].text)
        avg_list.append(avg[j].text)
        rank_list.append(j + 1)
        date_list.append(i)

<ipython-input-15-c45846035f23>:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm_notebook(days):

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=121.0), HTML(value='')))

In [16]:
print(len(movie_title_list))
print(len(avg_list))
print(len(rank_list))
print(len(date_list))

5843
5843
5843
5843

In [17]:
dic = {"순위" : rank_list, "영화명" : movie_title_list, "평점" : avg_list, "날짜" : date_list}
movie_date = pd.DataFrame(dic)

In [18]:
movie_date.set_index("순위", inplace=True)

In [19]:
movie_date

              영화명    평점        날짜
순위
1    가나의 혼인잔치: 언약  9.59  20210101
2            언플랜드  9.52  20210101
3   극장판 바이올렛 에버가든  9.49  20210101
4        부활: 그 증거  9.40  20210101
5         소년시절의 너  9.39  20210101
..            ...   ...       ...
46  팅커 테일러 솔저 스파이  8.21  20210501
47             테넷  8.17  20210501
48        문라이즈 킹덤  8.11  20210501
49          더 랍스터  7.90  20210501
50            미나리  7.73  20210501

[5843 rows x 3 columns]

In [20]:
#파일명
movie_date.to_csv("movie_date.csv", encoding="euc-kr")

In [21]:
n_url = "https://castbox.shopping.naver.com/shoppingboxnew/main.nhn"
res = req.get(n_url)

In [23]:
soup = bs(res.text, "lxml")

In [ ]:
Gmarket